//RESET ------------------
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

//CORES ------------------
$azul-texto: #007BFF;
$cinza-texto: #999999;
$bege-topo: #EEEEEE;
$branco-Fundo: #F6F5F5;
$preto-rodapé: #333333;

//FONTES ------------------
$font: 'Raleway', sans-serif;
