* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.top-bar {
    background: #EEEEEE;
    height: 50px;
    padding: 15px 0 10px;
    color: #333;
}

.direita {
    float: right
}

.navbar {
    height: 100px;
}

.navbar-brand {
    color: #007BFF;
    font-size: 30px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem; 
}

.nav-item {
    color:#333333;
    font-size: 18px;
}

.jumbotron {
    
}



