* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

.top-bar {
  background: #EEEEEE;
  height: 50px;
  padding: 15px 0 10px;
  color: #333; }

.direita {
  float: right; }

.menu h1 {
  color: #007BFF; }
