* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

.container {
  width: 1200px;
  margin: 0 auto; }

.topo-barra-superior {
  background: #EEEEEE;
  height: 50px; }

.topo-menu {
  background: #fff;
  height: 100px; }

.topo-menu h1 {
  float: left; }

.menu {
  float: right; }

.menu li {
  display: inline; }

.clear {
  clear: both; }
